body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  margin-left: 8px;
  cursor: pointer;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #3498db;
  color: #fff;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-grow: 1;
  background-color: #f4f6f8; 
}

.input-add-task {
  width: 64%;
}

.task-container {
  max-height: 500px;
  overflow-y: auto;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.task input {
  width: 80%;
}

.task-buttons {
  display: flex;
  gap: 10px;
}

.task-buttons button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.logout-btn {
  float: right;
  background-color: rgb(185, 70, 70);
}

.logout-btn:hover {
  background-color: rgb(134, 57, 57);
}

.edit-btn {
  background-color: #2eaa62;
}

.edit-btn:hover {
  background-color: rgb(32, 128, 72);
}

.save-btn {
  background-color: #3498db;
}

.save-btn:hover {
  background-color: #2874a7;
}

.delete-btn {
  background-color: #e74c3c;
}
.delete-btn:hover {
  background-color: #b93f31;
}


input {
  padding: 8px;
  margin-right: 8px;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-button {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.login-button:hover {
  background-color: #357ae8;
}

.google-icon {
  margin-right: 10px;
  font-size: 24px;
}

.error-message {
  color: red;
  margin-top: 10px;
}
